In [1]:
# pandas에서 제공하는 파일 입출력
import pandas as pd

In [7]:
file = pd.read_csv('./dataset/ex_1.csv')
df = pd.DataFrame(file)
df

   c0  c1  c2  c3
0   0   1   4   7
1   1   2   5   8
2   2   3   6   9

In [8]:
file = pd.read_csv('./dataset/ex_1.csv',header=None) # 첫 행을 데이터로 인식
df1 = pd.DataFrame(file)
df1

    0   1   2   3
0  c0  c1  c2  c3
1   0   1   4   7
2   1   2   5   8
3   2   3   6   9

In [11]:
# index 컬럼을 c0로 설정
file = pd.read_csv('./dataset/ex_1.csv',index_col='c0')
df2 = pd.DataFrame(file)
df2

    c1  c2  c3
c0
0    1   4   7
1    2   5   8
2    3   6   9

In [13]:
df2.to_csv("./dataset/to_ex1.csv")

In [17]:
# excel 파일 read
df1 = pd.read_excel('dataset/남북한발전전력량.xlsx')
df1

# header 미적용
df2 = pd.read_excel('dataset/남북한발전전력량.xlsx',header = None)
df2
print(df2.columns)

Int64Index([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
            17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28],
           dtype='int64')

In [20]:
df3 = pd.read_json('dataset/read_json_sample.json')
print(df3)

print(type(df3))

print(df3.index)

           name  year        developer opensource
pandas           2008    Wes Mckinneye       True
NumPy            2006  Travis Oliphant       True
matplotlib       2003   John D. Hunter       True
<class 'pandas.core.frame.DataFrame'>
Index(['pandas', 'NumPy', 'matplotlib'], dtype='object')

In [22]:
# html 읽어오기
url = 'dataset/sample.html'

tables = pd.read_html(url)
print(len(tables)) # 테이블의 갯수 확인

# 테이블의 리스트와 원소를 출력
for i in range(len(tables)):
    print("tables %s".format())
    print(tables[i])
    print()

2
tables %s
   Unnamed: 0  c0  c1  c2  c3
0           0   0   1   4   7
1           1   1   2   5   8
2           2   2   3   6   9

tables %s
         name  year        developer  opensource
0       NumPy  2006  Travis Oliphant        True
1  matplotlib  2003   John D. Hunter        True
2      pandas  2008    Wes Mckinneye        True

In [23]:
# 데이터프레임에 table[1]의 정보를 대입
df = tables[1]
print(df)
# 데이터프레임에 'name' 컬럼을 인덱스로 섲렁
df.set_index('name')
print(df)

         name  year        developer  opensource
0       NumPy  2006  Travis Oliphant        True
1  matplotlib  2003   John D. Hunter        True
2      pandas  2008    Wes Mckinneye        True
         name  year        developer  opensource
0       NumPy  2006  Travis Oliphant        True
1  matplotlib  2003   John D. Hunter        True
2      pandas  2008    Wes Mckinneye        True

In [25]:
# year 컬럼을 기준으로 정렬
df.sort_values(by='year')

         name  year        developer  opensource
1  matplotlib  2003   John D. Hunter        True
0       NumPy  2006  Travis Oliphant        True
2      pandas  2008    Wes Mckinneye        True

In [27]:
import os

os.getcwd()

'C:\\Users\\nile\\Documents\\python_pandas'

In [29]:
# csv 파일로 저장
df.to_csv('dataset/sample.csv')

# json 파일로 저장
df.to_json('dataset/to_json.json')

# excel 파일로 저장
df.to_excel('dataset/to_excel.xlsx')

In [ ]:
# 여러 개의 데이터프레임을 하나의 엑셀 파일에 저장
writer = pd.ExcelWriter("./dataset/to_excel_writer.xlsx")
df.to_excel(writer,wheet_name='sheet1')
df3.to_excel(writer,sheet_name='sheet2')
writer.save()