In [1]:
# 시리즈 : 1차원 배열 -> 인덱스와 값이 존재
import pandas as pd   # pandas의 자료구조는 series와 dataframe이 존재

In [6]:
dict_data = {'a':1, 'b':2, 'c':3}
list_data = [1,2,3]

srd = pd.Series(dict_data)
srl = pd.Series(list_data)

print(type(dict_data), dict_data)
print(type(srd), '\n',srd)

print(type(list_data), list_data)
print(type(srl), '\n',srl)

<class 'dict'> {'a': 1, 'b': 2, 'c': 3}
<class 'pandas.core.series.Series'>
 a    1
b    2
c    3
dtype: int64
<class 'list'> [1, 2, 3]
<class 'pandas.core.series.Series'>
 0    1
1    2
2    3
dtype: int64

In [10]:
# 인덱스 확인
print("srd.index", srd.index)
print("srl.index", srl.index)

# 시리즈의 값을 확인
print("srd.values", srd.values)
print("srl.values", srl.values)

srd.index Index(['a', 'b', 'c'], dtype='object')
srl.index RangeIndex(start=0, stop=3, step=1)
srd.values [1 2 3]
srl.values [1 2 3]

In [16]:
# 각 자료의 원소 선택
sr_data = pd.Series(list(range(10)))
# srl[ idx_start : idx_end ]  start 포함, end 포함하지 않음
sr_data[ 1:4]
sr_key = pd.Series({'a': 1, 'b': 2, 'c': 3, 'd':4, 'e':5})

In [19]:
print(sr_key[['a', 'b']])
print(sr_key[[0,2]])

print(sr_key['a':'c'])  # 'c'를 포함
print(sr_key[0:2])   # 인덱스 첨자는 2를 포함하지 않음

a    1
b    2
dtype: int64
a    1
c    3
dtype: int64
a    1
b    2
c    3
dtype: int64
a    1
b    2
dtype: int64

In [28]:
sr_list = pd.Series(list(range(5)), index=['a','b','c','d','x'])
sr_list
sr_list1 = pd.Series(list(range(10)), index=[x for x in 'abcdefghij'])

In [31]:
# 마지막 자료를 출력 : 인덱스명과 첨자 둘다 
print(sr_list1[-1], sr_list1['j'])
# 1번째부터 3번째 까지 자료 출력 , 인덱스명 으로도 출력
print(sr_list1[1:4], '\t', sr_list1['b':'e'])
# 인덱스명 'b'와 'd'의 값을 출력
sr_list1[['b', 'd']]

9 9
b    1
c    2
d    3
dtype: int64 	 b    1
c    2
d    3
e    4
dtype: int64

b    1
d    3
dtype: int64

In [33]:
#dataframe : 2차원, pandas.DataFrame(data(2차원), [index=  ], [columns= ])
# dictionary 데이터로 데이터프레임 생성
dict_data = {'c0':[1,2,3], 'c1':[4,5,6],'c2':[7,8,9]}
df = pd.DataFrame(dict_data)
df

   c0  c1  c2
0   1   4   7
1   2   5   8
2   3   6   9

In [34]:
# dataframe -> index명과 column 명을 부여
df = pd.DataFrame([[15,'남','수리중'], [17,'여','덕명중']],
                 index=['준서', '예은'],
                 columns=['나이', '성별','학교'])
df

    나이 성별   학교
준서  15  남  수리중
예은  17  여  덕명중

In [48]:
# 인덱스명을 변경 -> 행 인덱스, 열 이름
# 객체명.index = 새로운 인덱스명
# 객체명.column = 새로운 컬럼명
df.index=['a','b','c']
df
df.columns = ['연령','남녀','소속']
df

   연령 남녀   소속
a  15  남  수리중
b  17  여  덕명중
c  17  남  덕명중

In [49]:
# 일부 인덱스명만 수정
# 객체명.rename(index={기존인덱스:새로운인덱스, ,,,})
# 객체명.rename(columns={기존컬럼명:새로운 컬럼명, ,,,})
# '남녀'를 '성별'로 컬럼 변경, 'a'->'준서'로 변경
df.rename(index={'a':'준서'}, columns={'남녀':'성별'}, inplace=True)
df

    연령 성별   소속
준서  15  남  수리중
b   17  여  덕명중
c   17  남  덕명중

In [55]:
# 행과 열을 삭제 
# 행 삭제 -> 객체.drop(행인덱스 또는 배열, axis=0)
# 열 삭제 -> 객체.drop(열이름 또는 배열, axis=1)
df.drop('준서', axis=0)
df.drop('성별', axis=1)

    연령   소속
준서  15  수리중
b   17  덕명중
c   17  덕명중

In [ ]:
# 이름을 키로,  국어, 영어, 수학, 과학 점수를 값으로
# 입력받아 dictioary에 저장한 후
# 해당 자료를 데이터 프레임으로 전환 -> 인덱스명은 이름으로

In [119]:
students = {}
def create_student():
    while True:
        name = input("이름 입력 >")
        if name == 'q':
            break
        score = list(map(int, input("4과목 점수 입력 >").split()))
        students[name] = score

In [137]:
students = []
def create_student_list():
    while True:
        value = []
        name = input("이름 입력 >")
        if name == 'q':
            break
        value.append(name)
        score = list(map(int, input("4과목 점수 입력 >").split()))
        value.extend(score)   # list의 각 요소를 기존 리스트의 요소로 추가
        students.append(value)

In [138]:
create_student_list()

이름 입력 >a
4과목 점수 입력 >1 2 3 4
이름 입력 >b
4과목 점수 입력 >4 5 6 7
이름 입력 >c
4과목 점수 입력 >5 6 7 8
이름 입력 >q

In [142]:
df1 = pd.DataFrame(students, columns=['이름','국어','영어','수학','과학'])
df1
# 특정 컬럼을 인덱스로 설정
df1.set_index('이름',inplace=True)

In [144]:
df  = pd.DataFrame(students, columns=['이름','국어','영어','수학','과학'])
df.set_index('이름', drop=False)

    이름  국어  영어  수학  과학
이름
a    a   1   2   3   4
b    b   4   5   6   7
c   c    5   6   7   8

In [143]:
df1

    국어  영어  수학  과학
이름
a    1   2   3   4
b    4   5   6   7
c    5   6   7   8

In [135]:
df = pd.DataFrame.from_dict(students,orient='index')
df

   0  1  2  3
a  1  2  3  4
b  3  4  5  6

In [151]:
df1 = df.copy()
df1

   이름  국어  영어  수학  과학
0   a   1   2   3   4
1   b   4   5   6   7
2  c    5   6   7   8

In [150]:
a = [1,2,3,4]
b = a.copy()

- 데이터프레임은 2차원 : 시리즈가 여러 개
- pandas.DataFrame(2차원배열 또는 딕셔너리, index=, columns= )
- 딕셔너리는 key가 컬럼명으로 됨
- 딕셔너리의 키를 인덱스명으로 지정하면서 데이터프레임으로 변환
   - pandas.DataFrame.from_dict(딕셔너리데이터, origin='index')
- 데이터프레임의 특정 컬럼을 인덱스로 변환
   - 데이터프레임.set_index('컬럼명')
  
- 인덱스를 변경 : 데이터프레임.index = [인덱스명, ... ]
- 컬럼명을 변경 : 데이터프레임.columns = [컬럼명, ... ]
- 일부 인덱스 이름을 변경 : 데이터프레임.rename(index={old_idx:new_idx, ..}, inplace=)

- 일부 컬럼명을 변경 : 데이터프레임.rename(columns={old_col:new_col, ..}, inplace=)
- 행을 삭제 : 데이터프레임.drop(행 인덱스 또는 배열, axis=0)
- 열을 삭제 : 데이터프레임.drop(열 이름 또는 배열, axis=1)

In [153]:
exam_data = {'수학':[90,80,70], '영어':[99,89,95],
            '음악':[85,95,100], '체육':[100,90,100]}
df = pd.DataFrame(exam_data, index=['서준','우현','인아'])
print(df)

    수학  영어   음악   체육
서준  90  99   85  100
우현  80  89   95   90
인아  70  95  100  100

In [158]:
# 행 인덱스명을 사용하여 1개 행 선택 ('서준')
print(df.loc['서준'])
# 행 인덱스(정수)를 사용하여 1개 행 선택 (0행)
print(df.iloc[0])

# 두개의 행을 선택 '서준', '우현'
print(df.loc[['서준','우현']])
print(df.iloc[[0,1]])

# 범위를 선택 '서준' : '우현'
print(df.loc['서준':'우현'])  # '우현' 포함
print(df.iloc[0:1]) # 1은 포함 안함

수학     90
영어     99
음악     85
체육    100
Name: 서준, dtype: int64
수학     90
영어     99
음악     85
체육    100
Name: 서준, dtype: int64
    수학  영어  음악   체육
서준  90  99  85  100
우현  80  89  95   90
    수학  영어  음악   체육
서준  90  99  85  100
우현  80  89  95   90
    수학  영어  음악   체육
서준  90  99  85  100
우현  80  89  95   90
    수학  영어  음악   체육
서준  90  99  85  100

In [166]:
#  컬럼(열)을 선택 : df.컬럼명 또는 df['컬럼명']
print(df.수학,'\n', df['수학'])
print(df[ ['수학','음악'] ])

서준    90
우현    80
인아    70
Name: 수학, dtype: int64
 서준    90
우현    80
인아    70
Name: 수학, dtype: int64
    수학   음악
서준  90   85
우현  80   95
인아  70  100

In [169]:
# 범위 슬라이싱 : 객체.iloc[ start : end : step]
df.iloc[0:3:1]
df.iloc[ : : -1]
df.iloc[ : : 2]

    수학  영어   음악   체육
서준  90  99   85  100
인아  70  95  100  100

In [ ]:
# 데이터프레임의 각 원소를 선택
# 인덱스 이름 : 데이터프레임 객체.loc[ 행 인덱스명, 컬럼명 ]
# 정수 위치 인덱스 : 데이터프레임 객체.iloc[ 행번호, 열 번호 ]
# 서준의 영어 점수를 출력
print(df.loc['서준', '영어'], df.iloc[0,1])

# 서준과 인아의 영어와 음악점수를 출력
df.loc[['서준', '인아'], ['영어', '음악']]

# 서준부터 인아까지, 수학부터 음악까지
df.loc[ '서준':'인아', '수학':'음악']
df.iloc[ : , :-1]

# 서준의 수학과 체육 점수만 출력
df.loc[['서준'], ['수학', '체육']]   # dataframe
df.loc['서준', ['수학', '체육']]     # series
# df.iloc[0, [0, 3]]
df.loc['철수']=[80,90,100,90]   # 새로운 행 추가 df.loc['인덱스명'] =값
df
# 새로운 열 추가 : 데이터프레임 객체['컬럼명'] = 값
df['국어'] = [100,80,90,100]
df

In [188]:
# 기존의 행을 복사해서 추가
df.loc['추가'] = df.loc['서준']
df

    수학  영어   음악   체육   국어
서준  90  99   85  100  100
우현  80  89   95   90   80
인아  70  95  100  100   90
철수  80  90  100   90  100
추가  90  99   85  100  100

In [189]:
df = pd.DataFrame(columns=['kor','eng','math'])
df

Empty DataFrame
Columns: [kor, eng, math]
Index: []

In [193]:
# 이름, 국어, 영어, 수학 점수를 입력받아, 이름을 인덱스로 데이터 프레임에 저장
# df 을 출력
# 이름을 입력받아 데이터프레임의 자료를 검색해서 출력
# 이름과 과목을 입력 받아 데이터 출력
# 자료 추가 
score_df = pd.DataFrame(columns=['kor','eng','math'])
create_score()
score_df

이름 입력 >a
3과목 점수 입력 >3 4 5
이름 입력 >b
3과목 점수 입력 >5 6 7
이름 입력 >c
3과목 점수 입력 >6 7 8
이름 입력 >q

  kor eng math
a   3   4    5
b   5   6    7
c   6   7    8

In [225]:
def create_score():
    while True:
        name = input("이름 입력 >")
        if name == 'q':
            break
        score = list(map(int, input("3과목 점수 입력 >").split()))
        score_df.loc[name] = score
        
def search_score():
    s_name = input("검색할 이름 입력 >")
    if s_name in score_df.index:
        print("{} : {}".format(s_name, score_df.loc[s_name],end=''))

def search_title():
    s_name = input("검색할 이름 >")  
    if not s_name in score_df.index:
        print("검색하고자 하는 이름 없음 ")
        return
    
    s_title = input("검색할 과목 입력 >")
    if s_title in score_df.columns:
        return score_df.loc[s_name, s_title]
    else:
        print("검색하고자 하는 과목 없음 ")
        return        
        
def add_score():
    name = input("추가할 이름 입력 >")
    if name in score_df.index:
        print('존재하는 자료입니다')
        return
    score = list(map(int, input("3과목 점수 입력 >").split()))
    score_df.loc[name] = score

In [228]:
search_score()
print("검색한 자료는 : ", search_title())
add_score()

검색할 이름 입력 >ㅁ
검색할 이름 >b
검색할 과목 입력 >kor
검색한 자료는 :  5
추가할 이름 입력 >a
존재하는 자료입니다

In [227]:
score_df

  kor eng math
a   3   4    5
b   5   6    7
c   6   7    8
d   1   2    3